<li>
    <%= gravatar_for user, size: 53 %>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "删除", user, method: "delete", 
            data: { confirm: "确认删除？" },
            class: "text-danger pull-right" %>
    <% end %>
</li>
