<li>
    <span class="content"><%= wrap post.content %></span>
    <span class="timestamp">
        <%= time_ago_in_words(post.created_at) %> ago.
        <%= render partial: 'shared/delete_post', locals: { post: post } %>
    </span>
</li>
