@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);

// 用于元素间距
$element-spacing-default: 10px;
$element-spacing-small: 5px;
$element-spacing-large: 15px;

$font-family-default: Helvetica, Tahoma, Arial, STXiHei, "华文细黑", "Microsoft YaHei", "微软雅黑", serif;

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

body {
  padding-top: 60px;
  font-family: $font-family-default;

  #logo {
    color: darken(white, 15%);
    font-size: $font-size-h3;
    letter-spacing: 1px;
    font-family: 'Hammersmith One', sans-serif;
    > span {
      color: $brand-danger;
    }
    &:hover {
      color: white;
    }
    &:first-letter:hover {
      color: lighten($brand-danger, 15%);
    }
  }

  .welcome {
    h1, h2, h3, h4, h5, h6 {
      font-family: $font-family-default;
    }
    h1 {
      margin-bottom: $padding-base-horizontal;
    }
    h2 {
      font-size: $font-size-large;
      color: $gray-light;
    }
  }

  .footer {
    color: $gray;
    padding-top: $element-spacing-large;
    border-top: 1px solid $gray-lighter;
    a {
      color: $gray;
      text-decoration: none;
      &:hover {
        color: lighten($gray, 15%);
      }
    }
    nav {
      float: right;
      li {
        display: block;
        float: left;
        width: 50px;
      }
    }
  }

  .debug_dump {
      clear: both;
      float: left;
      width: 100%;
      margin-top: 45px;
   }
}

@media(max-width: $screen-sm) {
  .navbar-custom {
    .navbar-header {
      display: block;
      float: left;
    }

    .navbar-right {
      display: block;
      float: right;
      .nav {
        display: block;
        float: left;
        li {
          display: block;
          float: left;
        }
      }
    }
  }
}

#post_content {
  height: 100px;
  resize: none;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #eee;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #d9534f;
    }
  }

  strong {
    display: block;
  }
}

#following {
  text-align: right;
}
