<footer class="footer">
  <small>
    <a href="http://yuez.me" target="_blank">&copy;乐正 2014</a>
  </small>
  <nav>
    <ul>
        <li><%= link_to "用户", users_path %></li>
        <li><%= link_to "关于", about_path %></li>
        <li><%= link_to "联系", contact_path %></li>
    </ul>
  </nav>
</footer>
