<nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-custom" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="#" id="logo" class="navbar-brand">
        <span>Yi</span>Bo
      </a>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li><%= link_to "首页", '#' %></li>
        <li><%= link_to "帮助", '#' %></li>
        <li><%= link_to "注册", '#' %></li>
      </ul>
    </div>
  </div>
</nav>
